.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.rating-image {
  width: 50%;
}
li {
  padding: 0px;
  list-style-type: none;
  margin-left: 0px;
}
ul {
  padding: 0px;
}
.filter-group-heading {
  font-size: 20px;
  font-weight: bold;
}
.input-search {
  margin-top: 15px;
}
.clear-filter-button {
  color: #0967d2;
  border: 1px solid #0967d2;
  background-color: white;
  width: 100px;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
}
.category-button {
  border: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.rating-list-item {
}
.rating-text {
  margin-left: 10px;
  margin-top: 10px;
  color: #64748b;
}
.blue {
  color: #0967d2;
}

